<!-- Display upcoming and latest number -->
<a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Queue Number</a>

<br><br><br>

<h1 align="center">Counter Management</h1>
<!-- Display counters -->
<br><br><br>

<table width="100%">
  <tr>
    <td align="center">

      <!-- Counter 1 -->
      <div style="width:150px;height:200px;border:1px solid #000;margin:0% auto;display: inline-block;">
        <p align="center">
          <b>Counter 1<br></b>
          <b *ngIf="this.counterOne==3">Serving: {{this.numOne}}</b>
        </p>
        <br><button *ngIf="this.counterOne!=1" (click)="counterStatus(1,1)" style="width:100px;background-color:rgb(236, 68, 68);border-color: rgb(236, 68, 68);"><b>Go Offline</b></button>
        <button *ngIf="this.counterOne==1" (click)="counterStatus(4,1)" style="width:100px;background-color:rgb(53, 179, 19);border-color: rgb(53, 179, 19);"><b>Go Online</b></button>
        <br><br><button *ngIf="this.counterOne!=1" (click)="counterStatus(2,1)" style="width:100px;background-color:rgb(154, 235, 34);border-color: rgb(154, 235, 34);"><b>Complete</b></button>
        <br><br><button *ngIf="this.counterOne==2||this.counterOne==4" (click)="callNext(this.serving_num,3,1)" style="width:100px;background-color:rgb(243, 191, 51);border-color: rgb(243, 191, 51);"><b>Call Next</b></button>
      </div>
      &nbsp;&nbsp;&nbsp;

      <!-- Counter 2 -->
      <div style="width:150px;height:200px;border:1px solid #000;margin:0% auto;display: inline-block;">
        <p align="center">
          <b>Counter 2<br></b>
          <b *ngIf="this.counterTwo==3">Serving: {{this.numTwo}}</b>
        </p>
        <br><button *ngIf="this.counterTwo!=1" (click)="counterStatus(1,2)" style="width:100px;background-color:rgb(236, 68, 68);border-color: rgb(236, 68, 68);"><b>Go Offline</b></button>
        <button *ngIf="this.counterTwo==1" (click)="counterStatus(4,2)" style="width:100px;background-color:rgb(53, 179, 19);border-color: rgb(53, 179, 19);"><b>Go Online</b></button>
        <br><br><button *ngIf="this.counterTwo!=1" (click)="counterStatus(2,2)" style="width:100px;background-color:rgb(154, 235, 34);border-color: rgb(154, 235, 34);"><b>Complete</b></button>
        <br><br><button *ngIf="this.counterTwo==2||this.counterTwo==4" (click)="callNext(this.serving_num,3,2)" style="width:100px;background-color:rgb(243, 191, 51);border-color: rgb(243, 191, 51);"><b>Call Next</b></button>
      </div>
      &nbsp;&nbsp;&nbsp;

      <!-- Counter 3 -->
      <div style="width:150px;height:200px;border:1px solid #000;margin:0% auto;display: inline-block;">
        <p align="center">
          <b>Counter 3<br></b>
          <b *ngIf="this.counterThree==3">Serving: {{this.numThree}}</b>
        </p>
        <br><button *ngIf="this.counterThree!=1" (click)="counterStatus(1,3)" style="width:100px;background-color:rgb(236, 68, 68);border-color: rgb(236, 68, 68);"><b>Go Offline</b></button>
        <button *ngIf="this.counterThree==1" (click)="counterStatus(4,3)" style="width:100px;background-color:rgb(53, 179, 19);border-color: rgb(53, 179, 19);"><b>Go Online</b></button>
        <br><br><button *ngIf="this.counterThree!=1" (click)="counterStatus(2,3)" style="width:100px;background-color:rgb(154, 235, 34);border-color: rgb(154, 235, 34);"><b>Complete</b></button>
        <br><br><button *ngIf="this.counterThree==2||this.counterThree==4" (click)="callNext(this.serving_num,3,3)" style="width:100px;background-color:rgb(243, 191, 51);border-color: rgb(243, 191, 51);"><b>Call Next</b></button>
      </div>
      &nbsp;&nbsp;&nbsp;

      <!-- Counter 4 -->
      <div style="width:150px;height:200px;border:1px solid #000;margin:0% auto;display: inline-block;">
        <p align="center">
          <b>Counter 4<br></b>
          <b *ngIf="this.counterFour==3">Serving: {{this.numFour}}</b>
        </p>
        <br><button *ngIf="this.counterFour!=1" (click)="counterStatus(1,4)" style="width:100px;background-color:rgb(236, 68, 68);border-color: rgb(236, 68, 68);"><b>Go Offline</b></button>
        <button *ngIf="this.counterFour==1" (click)="counterStatus(4,4)" style="width:100px;background-color:rgb(53, 179, 19);border-color: rgb(53, 179, 19);"><b>Go Online</b></button>
        <br><br><button *ngIf="this.counterFour!=1" (click)="counterStatus(2,4)" style="width:100px;background-color:rgb(154, 235, 34);border-color: rgb(154, 235, 34);"><b>Complete</b></button>
        <br><br><button *ngIf="this.counterFour==2||this.counterFour==4" (click)="callNext(this.serving_num,3,4)" style="width:100px;background-color:rgb(243, 191, 51);border-color: rgb(243, 191, 51);"><b>Call Next</b></button>
      </div>

    </td>
  </tr>
</table>
